.menu {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
}

button {
  position: relative;
  width: 80px;
  background-color: #fff;
  border: 0.1px solid silver;
  border-radius: 5px;
  font-size: 40;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    scale: 1.2;
    background-color: rgb(15, 15, 201, 0.7);
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
    color: #fff;
  }
}
